@model Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout_fa-IR.cshtml";
}


<div>
    <hr />
    <div class=" row">
        <div class="col-12">
            <label class="col-1">@Html.DisplayNameFor(model => model.Name):</label>

            @Html.DisplayFor(model => model.Name)
        </div>


        <div class="col-12">
            <label class="col-1"> @Html.DisplayNameFor(model => model.Price)</label>

            @Html.DisplayFor(model => model.Price)
        </div>



        <div class="col-12">
            <label class="col-1">  @Html.DisplayNameFor(model => model.Weight)</label>

            @Html.DisplayFor(model => model.Weight)
        </div>


    

    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" /> 
            <br />
            <br />
            @Html.ActionLink("لیست کالا", "Index")
        </div>
    }
</div>
