@model Models.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout_fa-IR.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="card">
            <div class="card-header" style="background-color:rgb(76, 208, 53);color:white">
                <h3 class="panel-title">
                    ویرایش  کالا
                </h3>
            </div>
            <div class="card-body">
                @Html.HjEditor(model => model.Name)

                @Html.HjEditor(model => model.Price)

                @Html.HjEditor(model => model.Weight)

                <div class="form-group row">
                    @Html.LabelFor(model => model.UnitProductId, "واحد", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("UnitProductId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UnitProductId, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class='form-group row'>
                    <div class="control-label col-sm-2">

                    </div>
                    <div class="col-sm-10">
                        <input type="submit" value="ذخیره" class="btn btn-primary " />
                    </div>
                </div>

            </div>
        </div>




   

     
    </div>
}

