<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="@Links.scripts.vue_js"></script>
    <script src="@Links.scripts.axios_js"></script>
    <link href="@Links.Content.bootstrap_min_css" rel="stylesheet" />
    <script src="@Links.scripts.jquery_3_4_1_min_js"></script>
    <script src="@Links.scripts.bootstrap_min_js"></script>
    <link href="@Links.Content.bootstrap_rtl_css" rel="stylesheet" />
    <script src="@Links.scripts.jquery_validate_vsdoc_js"></script>
    <script src="@Links.scripts.jquery_validate_min_js"></script>
    <script src="@Links.scripts.jquery_validate_unobtrusive_min_js"></script>
    <script src="@Links.scripts.modernizr_2_6_2_js"></script>
    <link href="@Links.Content.Site_css" rel="stylesheet" type="text/css" />
    <title>@ViewBag.Title - حساب رایان</title>

</head>
<body>
    <div class="container">

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <!-- Brand -->
            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item" >
                    <a style="color:white" class="nav-link" href="/RegisterFactor/Register">ثبت فاکتور</a>

                </li>
                <li class="nav-item">
                    <a  style="color:white" class="nav-link" href="/UnitProduct/Create">ایجاد واحد کالا</a>
                </li>
                <li class="nav-item">
                    <a style="color:white" class="nav-link" k" href="/Products/Create">ایجاد کالا</a>
                </li>
                <li class="nav-item">
                    <a style="color:white" class="nav-link" k" href="/Products/Index">فهرست کالا</a>
                </li>
                <li class="nav-item">
                    <a style="color:white" class="nav-link" k" href="~/Report/ReportFactor.aspx">گزارش فاکتورهای صادره</a>
                </li>
              

            </ul>
        </nav>



     


    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer></footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>